@use "var";


body{
    background: #e9e6e6;
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    background: white;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;;
}

.svg-checkbox{
    position: relative;
    top: 40px;
    left: 49px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}
.svg-description{
    margin-left: 15px;
    display: none;
}


.increase-sidebar{
    position: relative;
    top: 40px;
    left: 74px;
    width: 21px;
    height: 20px;
    border: 0px;
    margin: 0;
    padding: 0;
    z-index: 999;
    opacity: 0;
    background: #ffffff;


    &:checked{
        transition-delay: 0.2s;
        left: 210px;
        transition: 1s all;

        & ~ .sidebar{
            width: 220px;
            transition-delay: 0.2s;
            transition: 1s all;
            
        } 

        & ~ .sidebar  ul  .section{
            justify-content: flex-start;
            padding-left: 15px;
            transition: 1s;
        }
        & ~ .sidebar  ul  .section a{
            margin-left: 30px;
            
        }

        & ~ .sidebar  ul  .section{

            & p{
            display: block;
            transition: .05s;
            font: 400 16px /20px 'Montserrat', sans-serif;
            color: #4F4F4F;
            }

            & .svg-hide{
                display: none;
            }

            
        }

        & ~ .two{
            padding-left: 220px;
        }


        & + .svg-checkbox{
            transition-delay: 0.2s;
            left: 184px;
            transition: 1s all;
            rotate: 900deg;
            // fill: var.$iconHoverColor;
            // background: white;
        }
    }

    &:hover + .svg-checkbox{
        background: var.$iconHoverColor;
        fill: white;
        transform: scale(1.1);
    }
}

.two{
    padding-left: 100px;
    padding-right: 40px;
}

.logo-svg{
    width: 32px;
}

.svg-icon{
    max-height: 32px;
    width: 26px;
    fill: #4F4F4F;
}



.section {
    @include flexCenterCenter;
    height: 46px;
    

    &:hover{
        background: var.$iconHoverColor;
        transition: 1s;
        border-radius: 30px;

        & + a .svg-description{
            color: white;
        }
        
        & a svg{
            fill: white;
        }
    } 

    & a{
        @include flexCenterCenter;

        &:hover .svg-icon{
            fill: white;
        }

    }
}

.logo{
    height: 102px;
}

.dashboard{
    height: 46px;
}

.underline{
    height: 25px;

    &:hover{
        background: none;
    }
}


